body,
html {
  margin: 0;
  font-family: 'Montserrat', serif;
  color: #333;
}

main {
  max-width: 1000px;
  margin: 0 auto;
}

.head {
  background: url(./garlic-gilles-bonin.jpg) 0 50% no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
}

.body {
  padding: 0 16px;
}

a {
  color: #666;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  text-decoration: underline;
}
