body,
html {
  margin: 0;
  font-family: 'Montserrat', serif;
}

main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 16px;
}

.head {
  background: url(./single-garlic.jpg) 0 50% no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
}

h1 {

}
